        
<div class="bg-wheat">
    <img src="components/assets/images/top-wheat.svg" alt="" srcset="">
</div>

<div class="wrapper">


    <div class="main_logo">
        <img src="components/assets/images/logo.png" alt="logo">
    </div>

    <div class="bnr-grid">
        <div class="bnr_slider">
                <ul>
                    <li><img src="components/assets/images/bnr-1.webp" alt="Bread"></li>
                </ul>
        </div>

        <div class="bnr_con">
                <h2>Insert a Clever <span>Slogan Here</span></h2>

                <div class="bnr_if">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span>Donec malesuada auctor magna non lacinia.</span> </p>

                    <div class="f-m-btn">
                      <a href="#" class="g-btn">Find Out More <span>»</span></a>
                    </div>

                    <div class="bnr_contact">
                            <div>
                                    <img src="components/assets/images/phone-icon.svg" alt="Phone">
                                    <a href="tel:+1234567890">Phone:  <span>123-456-7890</span></a>
                            </div>
                            <div>
                                <img src="components/assets/images/email-icon.svg" alt="Mail">
                                <a href="mailto:info@samplemail.com">Email: <span>info@samplemail.com</span></a>
                            </div>
                    </div>
                </div>
        </div>
    </div>
</div>

