<div class="wrapper">
    <div class="mission-con">
            <div class="mission-info">
                <h2 class="mainHeading">We Are Committed <span>Our Mission Statement</span></h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                <a href="#" class="g-btn">About Us <span>»</span></a>
            </div>

            <div class="mission-img">
                <img src="components/assets/images/person.webp" alt="female baker holding a bread of basket">
            </div>
    </div>
</div>