<div class="wrapper">
    <h2 class="mainHeading">Reach Out to Us <span>Send Us a Message</span></h2>

    <div class="form-container">
        <form action="#">
                <div class="input-con">
                    <div class="full-name-ip">
                        <label for="name"></label>
                        <input type="text"  id="fname" name="firstname" placeholder="Full Name *">
                    </div>

                    <div class="email-ip">
                        <label for="email"></label>
                        <input type="email" id="email" name="mail" placeholder="Email *">
                    </div>

                    <div class="message-ip">
                            <textarea name="message" id="message">Message(s)</textarea>
                    </div>
                </div>

                <a href="#" class="g-btn submit">Submit <span>»</span></a>
        </form>
        
    </div>
</div>