<div class="mid-bg-wheat">
    <img src="components/assets/images/mid-wheat.webp" alt="Wheat">
</div>

<div class="wrapper">
    <h1 class="mainHeading">Welcome to <span>Company Name Bakeshop</span></h1>


    <div class="info-grid">
        <div class="info1">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

        <div class="info2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

    </div>
    
    <div class="serv-options">
        <section class="opt1">
                <div>
                    <h3>Delivery</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#" class="g-btn">Click Here <span>»</span></a>
                </div>
       
                
                <div>
                    <h3>Events</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#" class="g-btn">Click Here <span>»</span></a>
                </div>
        </section>
    
        <section class="br-img-con">
            <img src="components/assets/images/middle-bread.webp" alt="long bread">
        </section>

        <section class="opt2">
                <div>
                    <h3>Daily Specials</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#" class="g-btn">Click Here <span>»</span></a>
                </div>

                
                <div>
                    <h3>Online Orders</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                    <a href="#" class="g-btn">Click Here <span>»</span></a>
                </div>
        </section>
    </div>
</div>