@use 'variables' as *;

$breakpoints: (
    "xs": 0,
    "sm": 600px,
    "md": 720px,
    "lv":800px,
    "lg": 1000px,
    "ds-1": 1100px,
    "ds-2": 1200px,
    "ds-3": 1300px,
    "ds-4": 1400px,
    "ds-5": 1550px,
    "ds-6": 1650px,
    "ds-7": 1750px,
    "ds-8": 1850px,
);

@mixin respond-to($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);
  @media (max-width: $value) {
    @content;
  }
}

section {
  @include respond-to(lg) {
    padding: 70px 20px;
    min-height: auto !important;
  }
}

.mainHeading::before {
  @include respond-to(lg) {
    top: -4rem;
    width: 8px;
    height: 50px;
  }
}

// Nav Area
header {
    nav {
      ul li a {
          @include respond-to(ds-2) {
            margin: 0 90px;
          }
          @include respond-to(ds-3) {
            margin: 0 70px;
          }
      }
    }
}


// Header Area
@include respond-to(lg) {
html.blur {
  overflow: hidden;
}

body.blur #content > * {
  filter: blur(5px) brightness(0.7);
    transition: $transition;
    pointer-events: none;
    user-select: none;
}

header {
  animation: none;
}

.overlay.mob {
  position: fixed;
  background: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  transition: $transition;
}


.mob_logo {
  display: block;
  width: min(140px, 100%);
}
.main_logo {
  display: none;
}

.toggle-holder {
  margin: 20px;
}

  #toggle_menu.bx-x span {
  transform: rotate(45deg);
}
#toggle_menu.bx-x  span::before {
  top: 0;
  transform: rotate(0deg);
}
#toggle_menu.bx-x  span::after {
  top: 0;
  transform: rotate(90deg);
}

.menu__btn {
  position: absolute;
  top: 3em;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 5;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $secColor;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.hamburger-menu nav ul {
  position: fixed;
  right: -175%;
  top: 0;
  padding: 80px 0;
  width: 20em;
  background: $black;
  height: 100%;
  transition: 0.4s;
  flex-direction: column;
  gap: 2em;
  z-index: 4;
  transition: $transition;
  transition-duration: .26s;

  li {    
    text-align: center;   
    padding: 15px 0;   
    width: 100%;

     &:hover {    
      background: $priColor;
      }

      a {
          margin: 0;

        &:after {
          display: none;
        }
      }
      
      
  }
  
}

.hamburger-menu nav ul.open {
right: 0 !important;
}
// End of Header 

.bg-wheat {
    display: none;
  }
}



// Banner Area
.bg-wheat {
  @include respond-to(ds-6) {
      right: -4rem;
  }
  @include respond-to(ds-5) {
    right: -8rem;
}
  @include respond-to(ds-3) {
    right: -12rem;
}
 
}

@include respond-to(lg) {
  .bnr-grid {
    flex-direction: column; 
    align-items: center;
    gap: 1rem;
  }

  .bnr_con {
    width: 100%;
    text-align: center;
    margin: 1rem 0 4rem 0;
  }

  .bnr_if p span {
    display: unset;
  }

  .bnr_if a.g-btn  {
    margin: 1.5rem auto 0;
  }
  .bnr_contact {
    justify-content: center;
    gap: 2rem 4rem;
    
    > * {
      flex-direction: column;
      gap: 16px;

      a span {
        display: block;
      }
    }
      @include respond-to(sm) {
          flex-direction: column;
          gap: 2rem;
      }
  }

}
// End of Banner Area



// Welcome Area

.mid-bg-wheat {
  @include respond-to(ds-7) {
    left: -4rem;
  }
  @include respond-to(ds-6) {
    left: -8rem;
  }
  @include respond-to(ds-5) {
    left: -10rem;
  }
  @include respond-to(ds-4) {
    left: -12rem;
  }
  @include respond-to(ds-2) {
    left: -2rem;
  }
  @include respond-to(ds-1) {
    left: -6rem;
  }
  @include respond-to(lg) {
   display: none;
  }
}


@include respond-to(lg) {
  .serv-options {
    grid-template-columns: auto auto;
    grid-gap: 2rem;
    margin: 3rem 0 0;

    section {
      grid-gap: 4rem;
          > div {
          text-align: center !important;
          
          a {
            margin: 0 auto !important;
            padding: 1rem;
          }
        }
        @include respond-to(sm) {
          grid-gap: 2rem;
        }
    }
    @include respond-to(sm) {
      grid-template-columns: auto;
    }
 }

.serv-options .br-img-con {
  display: none;
}
}
// End of Welcome Area

// Mission Statement Area
@include respond-to(lg) {
  .mission-con {
    justify-content: center;
  }

  .mission-info {
    width: 100%;

    h2 {
      text-align: center !important;
    }
    p {
      text-align: center;
    }
    a {
        margin: 1.5rem auto 0;
    }
  }
   .mission-img {
      display: none;
   }
}

// Mission Statement Area

// Send Us A Message Area
form .input-con {
  > * {
  @include respond-to(sm) {
      grid-area: unset !important;
   }

  }
}
// End of Send Message Area

// Footer Area
.fig1 {
    @include respond-to(ds-8) {
      left: -4rem;
    }  
    @include respond-to(ds-7) {
      left: -6rem;
    }  
    @include respond-to(ds-6) {
      left: -9rem;
    }  
    @include respond-to(ds-5) {
      left: -12rem;
    }    
    @include respond-to(lg) {
      display: none;
    } 
}

.fig2 {
  @include respond-to(ds-8) {
    right: -4rem;
  }  
  @include respond-to(ds-7) {
    right: -6rem;
  }  
  @include respond-to(ds-6) {
    right: -9rem;
  }  
  @include respond-to(ds-5) {
    right: -12rem;
  }  
  @include respond-to(lg) {
    display: none;
  } 
}


.num-add {
  ul {
      li {
      
        @include respond-to(ds-3) {
          padding-left: 0;
        }

        @include respond-to(ds-2) {
          font-size: $s2-fz;
        }
        &::before {
            @include respond-to(ds-3) {
              position: static;
              display: block;
              text-align: center;
              margin-bottom: 10px;
            }
        }
      }
  }
}

.info-title {
  h2 {
     span {
      @include respond-to(ds-4) {
        font-size: clamp($xxl-fz, 4vw, $h-fz);
      }
     }
  }
}

@include respond-to(lg) {
  .contact-info {
    flex-direction: column;
    gap: 2rem;
  }
  .info-title h2 {
    text-align: center;
  }

  .num-add ul {
      display: grid;
      grid-template-columns: 2fr 2fr;
      place-items: center;

      @include respond-to(lv) {
        grid-template-columns: auto;
        justify-content: center;
        gap: 4rem;
        text-align: center;
      } 
    
  }


  .copyright {
    margin: 3rem 0 0;
    width: 100%;

    ul {
      @include respond-to(sm) {
        flex-direction: column;
        gap: 0;
      }
    }
  }

  .soc-med {
    position: static;
  }
}






// End of Footer Area