@use 'variables' as *;

$breakpoints: (
    "xs": 0,
    "sm": 600px,
    "md": 720px,
    "lg": 1000px,
    "xl": 1300px,
    "xxl": 1200px,
    "xxxl": 1400px,
);

@mixin respond-to($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);
  @media (max-width: $value) {
    @content;
  }
}


// Nav Area
header {
    nav {
      ul li a {
          @include respond-to(xl) {
            margin: 0 90px;
          }
          @include respond-to(xxl) {
            margin: 0 70px;
          }
      }
    }
}


// Header Area
@include respond-to(lg) {
html.blur {
  overflow: hidden;
}

body.blur #content > * {
  filter: blur(5px) brightness(0.7);
    transition: $transition;
    pointer-events: none;
    user-select: none;
}

header {
  animation: none;
}

.overlay.mob {
  position: fixed;
  background: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  transition: $transition;
}


.mob_logo {
  display: block;
}
.main_logo {
  display: none;
}

.toggle-holder {
  margin: 20px;
}

  #toggle_menu.bx-x span {
  transform: rotate(45deg);
}
#toggle_menu.bx-x  span::before {
  top: 0;
  transform: rotate(0deg);
}
#toggle_menu.bx-x  span::after {
  top: 0;
  transform: rotate(90deg);
}

.menu__btn {
  position: absolute;
  top: 3em;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 5;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $secColor;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.hamburger-menu nav ul {
  position: fixed;
  right: -175%;
  top: 0;
  padding: 80px 0;
  width: 20em;
  background: $black;
  height: 100%;
  transition: 0.4s;
  flex-direction: column;
  gap: 2em;
  z-index: 4;
  transition: $transition;
  transition-duration: .26s;

  li {    
    text-align: center;   
    padding: 15px 0;   
    width: 100%;

     &:hover {    
      background: $priColor;
      }

      a {
          margin: 0;

        &:after {
          display: none;
        }
      }
      
      
  }
  
}



.hamburger-menu nav ul.open {
right: 0 !important;
}
// End of Header 

.bg-wheat {
    display: none;
  }
}


// Banner Area
.bnr-grid {
    @include respond-to(lg) {
        flex-direction: column; 
      }
}


