@use 'styles' as *;


header {
    width: 100%;
    animation: slideDown 1s ease-out;
    nav {
        background: $priColor;
        border-radius: 0 0 40px 40px;
        padding: 0 20px;
        width: min(1440px, 100% - 2rem);
        margin-inline: auto;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 80px;

            li {
                a {
                    margin: 0 110px;
                    color: $white;
                    position: relative;
                    font-size: $m-fz;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background: rgb(255,255,255, 0.5);
                        right: -6em;
                        top: 7px;
                    }
                }
                &:first-child {
                    a {
                        margin-left: 0;
                    }
                }

                &:last-child {
                        a {
                            margin-right: 0;
                            &::after {
                                display: none;
                            }
                        }
                }
            }
        }   
    }
}

.mob_logo {
    display: none;
}

#menu__toggle {
    opacity: 0;
  }



  @keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
  }
