@use 'variables' as *;

.mission-con {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

.mission-info {
    display: grid;
    grid-gap: 2rem;
    width: min(592px, 100%);
    h2 {
        text-align: left !important;

        &::before {
            display: none !important;
        }
    }
}