$breakpoints: (
    "xs": 0,
    "sm": 600px,
    "md": 720px,
    "lg": 1000px,
    "xl": 1400px,
);

@mixin respond-to($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);
  @media (max-width: $value) {
    @content;
  }
}

// Banner Area
.bnr-grid {
    @include respond-to(lg) {
        flex-direction: column; 
      }
}