@use 'styles' as *;

$breakpoints: (
    "xs": 0,
    "sm": 600px,
    "md": 720px,
    "lg": 1000px,
    "xl": 1300px,
    "xxl": 1200px,
    "xxxl": 1400px,
);

@mixin respond-to($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);
  @media (max-width: $value) {
    @content;
  }
}


// Nav Area
header {
    nav {
      ul li a {
          @include respond-to(xl) {
            margin: 0 90px;
          }
          @include respond-to(xxl) {
            margin: 0 70px;
          }
      }
    }
}



// @include respond-to(lg) {
//   #toggle_menu.bx-x span {
//   transform: rotate(45deg);
// }
// #toggle_menu.bx-x  span::before {
//   top: 0;
//   transform: rotate(0deg);
// }
// #toggle_menu.bx-x  span::after {
//   top: 0;
//   transform: rotate(90deg);
// }
// /* #toggle_menu ~ nav ul {
//   right: 0 !important;
// } */



// .menu__btn {
//   position: fixed;
//   top: 3em;
//   right: 20px;
//   width: 26px;
//   height: 26px;
//   cursor: pointer;
//   z-index: 1;
// }
// .menu__btn > span,
// .menu__btn > span::before,
// .menu__btn > span::after {
//   display: block;
//   position: absolute;
//   width: 100%;
//   height: 2px;
//   background-color: $secColor;
//   transition-duration: .25s;
// }
// .menu__btn > span::before {
//   content: '';
//   top: -8px;
// }
// .menu__btn > span::after {
//   content: '';
//   top: 8px;
// }


// .hamburger-menu nav ul {
//   position: fixed;
//   right: -175%;
//   top: 0;
//   padding: 80px 0;
//   width: 20em;
//   background: #000;
//   height: 100%;
//   transition: 0.4s;
//   flex-direction: column;
//   gap: 2em;
  
// }

// .hamburger-menu nav ul li {    
//   text-align: center;   
//    padding: 15px 0;   
// }

// .hamburger-menu nav ul li:hover {    
//   background: var(--mainColor);
//   }

// .hamburger-menu nav ul li a:after {
//   display: none;
// }


// .hamburger-menu nav ul.open {
// right: 0 !important;
// }
//   .bg-wheat {
//     display: none;
//   }
// }


// Banner Area
.bnr-grid {
    @include respond-to(lg) {
        flex-direction: column; 
      }
}


