@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");
/* Fonts */
/* Size */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  image-rendering: -webkit-optimize-contrast;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

input:not([type=radio]):not([type=checkbox]),
textarea, select {
  -webkit-appearance: none;
}

form, label {
  -webkit-text-size-adjust: 100%;
}

mark {
  background-color: transparent;
}

img {
  max-width: 100%;
}

html {
  width: 100%;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #495670 #0a192f;
  overflow-x: hidden;
}

/* WebKit browsers */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #495670;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

body {
  font-family: "Questrial", sans-serif;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 19px;
}

a.g-btn {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  width: min(258px, 100%);
  background: #11b9a4;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  padding: 1.3rem;
  font-size: 19px;
  margin: 1.5rem 0;
  transition: 0.5s ease;
}
a.g-btn:hover {
  background: #f89829;
}
a.g-btn span {
  background: #fff;
  color: #000;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

h2 {
  font-family: "Salsa", cursive;
}

h2.mainHeading {
  font-size: 30px;
  font-family: "Questrial", sans-serif;
  font-weight: normal;
  text-align: center;
  position: relative;
}
h2.mainHeading span {
  font-size: clamp(50px, 6vw, 60px);
  display: block;
  font-family: "Salsa", cursive;
}
h2.mainHeading::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 68px;
  background: #f89829;
  border-radius: 20px;
  top: -7rem;
  left: 0;
  right: 0;
  margin-inline: auto;
}

h3 {
  font-family: "Salsa", cursive;
  font-size: 30px;
}

p {
  font-size: 19px;
  color: #535353;
  line-height: 24px;
}

.wrapper {
  width: min(100% - 6rem, 1400px);
  margin-inline: auto;
  position: relative;
}

section {
  padding: 120px 0;
  position: relative;
  min-height: 100vh;
}

@media (max-width: 1300px) {
  header nav ul li a {
    margin: 0 90px;
  }
}
@media (max-width: 1200px) {
  header nav ul li a {
    margin: 0 70px;
  }
}

@media (max-width: 1000px) {
  html.blur {
    overflow: hidden;
  }
  body.blur #content > * {
    filter: blur(5px) brightness(0.7);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    pointer-events: none;
    user-select: none;
  }
  .overlay.mob {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .mob_logo {
    display: block;
  }
  .main_logo {
    display: none;
  }
  .toggle-holder {
    margin: 20px;
  }
  #toggle_menu.bx-x span {
    transform: rotate(45deg);
  }
  #toggle_menu.bx-x span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #toggle_menu.bx-x span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .menu__btn {
    position: absolute;
    top: 3em;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 5;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #f89829;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .hamburger-menu nav ul {
    position: fixed;
    right: -175%;
    top: 0;
    padding: 80px 0;
    width: 20em;
    background: #000;
    height: 100%;
    transition: 0.4s;
    flex-direction: column;
    gap: 2em;
    z-index: 4;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-duration: 0.26s;
  }
  .hamburger-menu nav ul li {
    text-align: center;
    padding: 15px 0;
    width: 100%;
  }
  .hamburger-menu nav ul li:hover {
    background: #11b9a4;
  }
  .hamburger-menu nav ul li a {
    margin: 0;
  }
  .hamburger-menu nav ul li a:after {
    display: none;
  }
  .hamburger-menu nav ul.open {
    right: 0 !important;
  }
  .bg-wheat {
    display: none;
  }
}
@media (max-width: 1000px) {
  .bnr-grid {
    flex-direction: column;
  }
}

/*# sourceMappingURL=breakpoints.css.map */
