        <section class="banner">
                <div class="wrapper">
                    
                        <div class="main_logo">
                            <h2 class="main-heading">CN <span>Bakeshop</span></h2>
                        </div>

                        <div class="bnr_slider">
                            <ul>
                                <li><img src="components/assets/images/bnr-1.webp" alt="Bread"></li>
                            </ul>
                        </div>

                        <div class="bnr_con">
                            <h3>Insert a Clever <span>Slogan Here</span></h3>

                            <div class="bnr_if">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada auctor magna non lacinia.</p>

                                <div class="bnr_contact">
                                        <div>
                                                <img src="components/assets/images/phone-icon.svg" alt="Phone">
                                                <a href="tel:+1234567890">Phone: 123-456-7890</a>
                                        </div>
                                        <div>
                                            <img src="components/assets/images/email-icon.svg" alt="Mail">
                                            <a href="mailto:info@samplemail.com">Email: info@samplemail.com</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                </div>
        </section>
