
<div class="ftr-img-con">
        <figure class="fig1">
            <img src="components/assets/images/ftr-l-wheat.svg" alt="Wheat">
        </figure>

        <figure class="fig2">
            <img src="components/assets/images/ftr-r-wheat.svg" alt="Wheat">
        </figure>
</div>

<div class="wrapper">

    <div class="footer-con">
        <div class="ftr-socmed-container">
            <div class="ftr_map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3298.0074288836136!2d-74.01192047406688!3d40.71171687828603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a1a3be8cb45%3A0xf430ccc5401d1eed!2s9%2F11%20Memorial%20%26%20Museum!5e0!3m2!1sen!2sph!4v1717685744028!5m2!1sen!2sph" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>


            <div class="soc-med">
                <ul>
                    <li><a href="https://www.facebook.com/" target="_blank"><img src="components/assets/images/fb-icon.svg" alt="Facebook"></a></li>
                    <li><a href="https://x.com/" target="_blank"><img src="components/assets/images/twitter-icon.svg" alt="twitter"></a></li>
                </ul>
            </div>
        </div>

            <div class="contact-info">
                    <div class="info-title">
                            <h2 class="mainHeading">Get in Touch <span>Contact Information</span></h2>
                    </div>

                    <div class="num-add">
                        <ul>
                            <li>123 Street Address, Suite A <span>City Name,State 12345</span></li>
                            <li>
                                   Phone Number: <mark>123-456-7890</mark>
                                   <span>Email Address: <a href="mailto:info@samplemail.com">info@samplemail.com</a></span> 
                            </li>
                        </ul>
                    </div>
            </div>
    </div>

    <div class="copyright">
        
    </div>
</div>