
<div class="toggle-holder">
    <div class="mob_logo">
        <img src="components/assets/images/logo.png" alt="logo">
    </div>

    <div class="hamburger-menu">
        <div class="menu__btn" id="toggle_menu">
             <span></span>
        </div>
    <div class="overlay"></div>
        <aside>
            <nav>
                        <ul class="navbar">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">Menu</a></li>
                        </ul>
            </nav>
        </aside>
    </div>
</div>

