<div class="wrapper">
    <h2 class="mainHeading">What We Do <span>Services We Offer</span></h2>


    <div class="serv-flex">
            <section>
                <div class="figure-con">
                    <img src="components/assets/images/catering-serv-img.webp" alt="bread">
                    <a href="#" class="serv-btn">Click <span>Here</span> <span class="arrow-icon">»</span></a>
                </div>
                <div class="serv-if">
                    <h3>Catering Services</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada auctor magna non lacinia.</p>
                </div>
            </section>

            <section>
                <div class="figure-con">
                    <img src="components/assets/images/breakfast-serv-img.webp" alt="man holding a cup of coffee and a sandwich">
                    <a href="#" class="serv-btn">Click <span>Here</span> <span class="arrow-icon">»</span></a>
                 </div>
                <div class="serv-if">
                    <h3>Breakfast</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada auctor magna non lacinia.</p>
                </div>
            </section>

            <section>
                <div class="figure-con">
                    <img src="components/assets/images/more-services-img.webp" alt="francis bread">
                    <a href="#" class="serv-btn">Click <span>Here</span> <span class="arrow-icon">»</span></a>
                </div>
                <div class="serv-if">
                    <h3>More Services</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada auctor magna non lacinia.</p>
                </div>
            </section>
    </div>
</div>